BOT_TOKEN=__SET_ME__
PRIMARY_ADMIN_TG_ID=227380225
ADMIN_TG_IDS=227380225
ADMIN_TG_USERNAMES=serg_hexen
BASE_URL=https://example.com:8443
SUPPORT_TEXT=Поддержка: @serghexen
SUPPORT_CHAT_URL=https://t.me/serghexen
FREE_DAYS=1
START_RATE_LIMIT_SEC=30
SYNC_GRACE_DAYS=1
MONITOR_ENABLED=1
MONITOR_INTERVAL_SEC=300
MONITOR_COOLDOWN_SEC=1800
MONITOR_CHECK_USER=
REPLICA_MONITOR_ENABLED=0
REPLICA_MONITOR_INTERVAL_SEC=300
REPLICA_MONITOR_COOLDOWN_SEC=1800
REPLICA_MONITOR_CMD=/usr/local/sbin/healthcheck-replica
REPLICA_OPS_CMD=/usr/local/sbin/replica-ops
METRICS_CMD=/usr/local/sbin/metrics-master-light
ONLINE_WINDOW_SEC=900
LIVE_ONLINE_ENABLED=1
LIVE_ONLINE_SAMPLE_SEC=3
LIVE_ONLINE_TIMEOUT_SEC=12
LIVE_ONLINE_CACHE_TTL_SEC=20
TRAFFIC_COLLECT_ENABLED=1
TRAFFIC_COLLECT_INTERVAL_SEC=300
TRAFFIC_RETENTION_DAYS=14
