BOT_TOKEN=__SET_ME__
PRIMARY_ADMIN_TG_ID=227380225
ADMIN_TG_IDS=227380225
ADMIN_TG_USERNAMES=serg_hexen
BASE_URL=https://example.com:8443
SUPPORT_TEXT=Поддержка: @serghexen
SUPPORT_CHAT_URL=https://t.me/serghexen
FREE_DAYS=1
START_RATE_LIMIT_SEC=30
SYNC_GRACE_DAYS=1
MONITOR_ENABLED=1
MONITOR_INTERVAL_SEC=300
MONITOR_COOLDOWN_SEC=1800
MONITOR_CHECK_USER=
METRICS_CMD=/usr/local/sbin/metrics-master-light
